<div class="footer-section">
  <div class="container p-t-2 p-b-2">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <h3>ติดต่อ</h3>
        <div>หากมีปัญหาใดๆ เกี่ยวกับระบบรับสมัครสามารถติดต่อได้ที่</div>
        <ul class="m-t-1">
          <li>พี่แพ็ค 085-167-2293</li>
          <li>พี่ป่าน 087-830-9292</li>
          <li>พี่ลูกไม้ 097-921-4568</li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6">
        <h3>ติดตามข่าวสารได้ที่</h3>
        <ul class="m-t-1">
          <li><a href="https://www.facebook.com/LARNGEARCAMP/" target="_blank"><h4><i class="fa fa-facebook-square"></i> LarnGear Camp</h4></a></li>
          <li><a href="https://twitter.com/larngearcamp" target="_blank"><h4><i class="fa fa-twitter-square"></i> @larngearcamp</h4></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
