<div id="err-cnn" class="modal fade">
  <div class="modal-dialog" role="document">
    <div class="modal-content panel-danger">
      <div class="modal-header panel-heading">
        การเชื่อมต่ออินเตอร์เน็ตมีปัญหา ?
      </div>
      <div class="modal-body">
        ไม่สามารถโหลดข้อมูลบางอย่างได้ กรุณารีเฟรชหน้านี้ใหม่อีกครั้ง
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-confirm" onclick="javascript:location.reload();">
          ตกลง
        </button>
      </div>
    </div>
  </div>
</div>
