@import 'base';

.btn {
  font-size: 1.2em;
}

.head-bg {
  height: 70vh;
  background: url('../../images/head-background.jpg') $redColor no-repeat;
  background-size: cover;
  background-position: center center;
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  .head {
    font-size: 5rem;
    text-shadow: 0 2px 3px #111;
    @media screen and (max-width: 480px) {
      font-size: 4rem;
    }
  }
  .btn-section {
    margin-top: 1.5em;
    .btn {
      background: #fff;
      border-color: #fff;
      color: #111;
      margin: 5px;
      font-size: 1.7rem;
      @media screen and (max-width: 480px) {
        font-size: 1.6rem;
      }
    }
  }
}
#form-section {
  background: #eee;
  & > .container {
    background: #f8f8f8;
    box-shadow: 0 0 5px rgba(0,0,0,.5);
  }
  .section {
    .number-box {
      border-radius: 50%;
      color: $redColor;
      text-align: center;
      font-size: 5rem;
      border: 4px dashed;
    }
    .description {
      font-size: 2.75rem;
      @media screen and (max-width: 767px) {
        text-align: center;
        font-size: 2.5rem;
      }
      .more {
        color: #666;
        font-size: 1.75rem;
      }
    }
  }
}

.end-section {
  a { color:inherit; }
}

#register-description {
  font-size: 1.6rem;
  .header {
    font-size: 3rem;
    @media screen and (max-width: 767px) {
      font-size: 2.5rem;
    }
  }
  .highlight {
    font-size: 1.2em;
    font-weight: 400;
  }
  .checkbox label {
    font-weight: 300;
  }
}

#register-form, #skip-form {
  vertical-align: middle;
  & > .row {
    padding: 4px;
    @media screen and (max-width: 480px) {
      padding: 0;
    }
  }
  .require {
    color: rgb(210, 8, 8);
  }
  .title {
    font-weight: 400;
    padding-top: 10px;
    text-align: right;
    @media screen and (max-width: 767px) {
      text-align: left;
      padding-bottom: 5px;
    }
    .more {
      font-weight: 300;
      color: #999;
      font-style: italic;
    }
  }
  & > .err {
    transition: all 0.3s;
    color: $redColor;
    .form-control {
      transition: all 0.3s;
      border-color: $redColor;
      color: lighten($redColor, 20);
    }
    .more {
      transition: all 0.3s;
      color: lighten($redColor, 10);
    }
  }
}
