$redColor: rgb(193, 3, 3);

body {
    font-family: 'Kanit', Tahoma, sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    color: #222;
}
.m-t-1 {
    margin-top: 1rem;
}
.m-t-2 {
    margin-top: 2em;
}
.m-t-3 {
    margin-top: 3em;
}
.m-b-1 {
    margin-bottom: 1em;
}
.m-b-2 {
    margin-bottom: 2em;
}
.m-b-3 {
    margin-bottom: 3em;
}
.center {
    display: block;
    margin: auto;
}
.head-bg {
    height: 150px;
    background: url('../../images/head-background.jpg') $redColor no-repeat;
    background-size: cover;
    background-position: center center;
    color: #FFF;
    .head {
        font-size: 5rem;
        text-shadow: 0 2px 3px #111;
        @media screen and (max-width: 480px) {
            font-size: 4rem;
        }
    }
    .btn-section {
        margin-top: 1.5em;
        .btn {
            background: #fff;
            border-color: #fff;
            color: #111;
            margin: 5px;
            font-size: 1.7rem;
            @media screen and (max-width: 480px) {
                font-size: 1.6rem;
            }
        }
    }
}
.form-section {
    background: #eee;
    & > .container {
        background: #f8f8f8;
        box-shadow: 0 0 5px rgba(0,0,0,.5);
    }
    .section {
        .number-box {
            border-radius: 50%;
            color: $redColor;
            text-align: center;
            font-size: 5rem;
            border: 4px dashed;
        }
        .description {
            font-size: 2.75rem;
            @media screen and (max-width: 767px) {
                text-align: center;
                font-size: 2.5rem;
            }
            .more {
                color: #666;
                font-size: 1.75rem;
            }
        }
    }
}
.register-form {
    vertical-align: middle;
    & > .row {
        padding: 4px;
        @media screen and (max-width: 480px) {
            padding: 0;
        }
    }

    .require {
        color: rgb(210, 8, 8);
    }
    .title {
        font-weight: 400;
        padding-top: 10px;
        text-align: right;
        @media screen and (max-width: 767px) {
            text-align: left;
            padding-bottom: 5px;
        }
        .more {
            font-weight: 300;
            color: #999;
            font-style: italic;
        }
    }

    & > .err {
        color: $redColor;
        .form-control {
            border-color: $redColor;
            color: lighten($redColor, 20);
        }
        .more {
          color: lighten($redColor, 10);
        }
    }
}
