body {
  font-size: 1.5rem;
  font-weight: 300;
  font-family: 'Kanit', Tahoma, sans-serif;
  color: #222; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Kanit', Tahoma, sans-serif;
  font-weight: 300; }

.btn {
  font-size: 1.2em; }

.m-t-1 {
  margin-top: 1rem; }

.m-t-2 {
  margin-top: 2em; }

.m-t-3 {
  margin-top: 3em; }

.m-b-1 {
  margin-bottom: 1em; }

.m-b-2 {
  margin-bottom: 2em; }

.m-b-3 {
  margin-bottom: 3em; }

.center {
  display: block;
  margin: auto; }
